@import "~antd/dist/antd.css";
html {
  /** rem em */
  // em 相对于父元素的font-size
  // rem 相对于根元素 font-size
  // 16 * 62.5% =10px
  font-size: 62.5%;
}

html body #root {
  height: 100vh;
}

.un_authenticated_app {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  display: flex;
  & .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom, right bottom;
    background-size: calc(((100vw - 40rem) / 2) - 3.2rem),
      calc(((100vw - 40rem) / 2) - 3.2rem), cover;
    background-image: url("../assets/left.svg"), url("../assets//right.svg");
  }
  & .header {
    background: url("../assets/logo.svg") no-repeat center;
    padding: 5rem 0;
    background-size: 8rem;
    width: 100%;
  }
  & .shadow_card {
    width: 40rem;
    min-height: 56rem;
    padding: 3.2rem 4rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    text-align: center;
  }
}

.authenticated_app {
  display: grid;
  grid-template-rows: 6rem 1fr;
  height: 100vh;
  & .header{
    padding: 0 3.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .header_right{

    }

    & .header_left{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      & .software_logo{
        width: 10rem;
        height: 5rem;
      }
    }
  }
  .project_list{
    margin: 3.2rem 3.2rem 0 3.2rem;
  }
}
